/*
*Riley Flanagan
*Due May 3
*Box Model
*/


body{ border: dashed black; padding-right: 26px;
}

h1{ border: thin dashed black; padding: 12px;
}

main{ border: solid black; padding-top: 10px; padding-right: 9px; padding-left: 9px; margin: 23px; margin-right: 38px;
}

p{ border: thin dashed black; padding: 12px;
}